@import "compass/css3/images"
@import "compass/css3/background-size"
@import "compass/css3/border-radius"
@import "compass/css3/columns"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/transition"

$pane-height: 100%
$num-cols: 6
$col-width: (100/$num-cols)*1%

html
	width: 100%
	height: 100%
	overflow-x: hidden

body
	margin: 0px
	height: 100%
	width: 100%
	overflow-x: hidden
	
.pane
	position: absolute
	margin: 0px
	width: 100%
	height: $pane-height
	+background-size(cover)
	overflow-x: hidden
	
canvas
	position: absolute
	top: 0px
	
.text-box
	position: absolute
	top: 34%
	width: 30%
	left: 35%
	background-color: rgba(255, 255, 255, 0.6)
	padding: 20px
	+border-radius(20px)
	z-index: 40
	+box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 20px)
	
	p
		margin: 0px
		font-size: 20px
		line-height: 30px
	
.pane2
	top: $pane-height

.pane3
	top: $pane-height*2
	
.pane4
	top: $pane-height*3

.pane5
	top: $pane-height*4
	
.pane6
	top: $pane-height*5
	
.invisipane
	top: $pane-height*5
	
	.text-box
		background-color: rgba(255, 255, 255, .8)
		+transition-property(background-color)
		+transition-duration(1s)
		top: 42%
		
	.text-box:hover
		background-color: rgba(255, 255, 255, .9)

.top-pane
	width: 100%
	height: $pane-height
	top: 0px
	overflow-x: hidden
	

.t-pane
	width: 300%
	left: -100%
	
	.pane
		width: 33.333333%
		display: inline
		
	.pane1
		right: 33.333333%
		
	#pane1-canvas
		top: 0px
		
	.pane-l
		left: 0%
		
		.subpane
			height: $pane-height
			
		.text-box
			width: 30%
		
	.l-sub-l
		top: 0px
		left: 0%
		
	.l-text-l
		top: $pane-height*(4/5)
		left: 10%

	.l-sub-r
		top: 0px
		left: 50%
		
	.l-text-r
		top: $pane-height*(3/5)
		left: 60%
	
	.pane-r
		right: 0%
		
		.subpane
			width: 100%
			height: $pane-height/3
			
		.text-box
			position: absolute
			width: 30%
			
			
	.r-sub-t
		top: 0px
		right: 0px

	.r-text-t
		top: $pane-height/6
		
	.r-sub-m
		top: $pane-height/3
		right: 0px
		
	.r-text-m
		top: $pane-height/2
		
	.r-sub-b
		top: $pane-height*(2/3)
		right: 0px
		
	.r-text-b
		top: $pane-height*(5/6)

	
.school, .resource
	text-align: center
	font-family: "Georgia"
	font-size: 60px
	line-height: 70px
	color: #222

.subpane
	position: absolute
	width:  50%
	height:  $pane-height/2
	margin:  0px
	+background-size(cover)

.subpane1
	top: 0px
	left: 50%
	
.subpane2
	top: 0px
	left: 0px

.subpane3
	top: $pane-height/2
	left: 0px
	
.subpane4
	top: $pane-height/2
	left: 50%
	
.search
	text-align: center
	
.search-form
	width: 90%
	margin: auto
	
	input
		width: 90%
		margin: 20px 3%
		font-size: 22px
		height:  30px
		line-height: 30px
		
.topnav
	position: fixed
	top: 0px
	left: 0px
	z-index: 50
	padding: 10px 10px 20px 30px
	background-color: rgba(0, 0, 0, .2)
	width: 100%
	
.nav-small
	+border-right-radius(70px)
	
	.navlist
	
		.nav-img
			margin-right: 30px
		
.logo
	margin-top: 20px

.navlist
	position: relative
	display: inline
	width: 100%
	color: #fff
	font-family: "Georgia"
	font-size: 18px
	
	li
		float: left
		display: inline-block
		width: $col-width
		line-height: 30px
		
	.mid
		width: $col-width*3
		height: 90px
		+column-count(3)
		
		li
			width: 100%
		
	.nav-img
		position: absolute
		top: -14px
		left: 70%
		//margin-right: 50px
		//float: right
		opacity: .9
		
		+transition-property(opacity)
		+transition-duration(1s)
		
	.nav-img:hover
		opacity: 1
		
.nav-search

	input
		line-height: 30px
		
		
.slide
	position: absolute
	color: rgba(255, 255, 255, 1)
	width: 80px
	height: 80px
	z-index: 40
	font-family: "Georgia"
	
	h1
		margin-top: 24px
		margin-left: 22px
		font-size: 30px
		+text-shadow(rgba(0, 0, 0, .1) 0px 0px 10px)
	
.slide-left
	left: 20px

.slide-right
	right: 20px
	
@media all and (max-width: 1500px)
		
	.navlist
		.mid
			position: absolute
			top: 100px
			left: 0px
			width: 100%
			
		.nav-search-li
			position: absolute
			left: 33%
			margin-left: 20px
			
		.nav-img
			position: absolute
			top: -14px
			left: 70%
			
	.school, .resource
		font-size: 40px
		line-height: 46px
		
	.t-pane
		.pane-l
			.text-box
				width: 40%
			
		.l-text-r
			top: $pane-height*(3/5)
			left: 53%
	
		.l-text-l
			top: $pane-height*(3/4)
			left: 3%