/* line 3, ../sass/3.sass */
.pane1 {
  background-image: url("../images/3/studs.jpg");
}

/* line 6, ../sass/3.sass */
.pane2 {
  background-image: url("../images/3/finney.JPG");
}

/* line 9, ../sass/3.sass */
.pane3 {
  background-image: url("../images/3/lion-dance.JPG");
}

/* line 12, ../sass/3.sass */
.pane4 {
  background-image: url("../images/3/sciency-thing-2.jpg");
}

/* line 15, ../sass/3.sass */
.pane5 {
  background-image: url("../images/3/green.jpg");
}

/* line 18, ../sass/3.sass */
.l-sub-l {
  background-image: url("../images/3/sciencey-thing-3.jpg");
}

/* line 21, ../sass/3.sass */
.l-sub-r {
  background-image: url("../images/3/ensemble.jpg");
}

/* line 24, ../sass/3.sass */
.r-sub-t {
  background-image: url("../images/3/speak.jpg");
}

/* line 27, ../sass/3.sass */
.r-sub-m {
  background-image: url("../images/3/camera.JPG");
}

/* line 30, ../sass/3.sass */
.r-sub-b {
  background-image: url("../images/3/art.jpg");
}

/* line 33, ../sass/3.sass */
.subpane1 {
  background-image: url("../images/3/bike-co-op.jpg");
}

/* line 36, ../sass/3.sass */
.subpane2 {
  background-image: url("../images/3/selk.JPG");
}

/* line 39, ../sass/3.sass */
.subpane3 {
  background-image: url("../images/3/dance.jpg");
}

/* line 42, ../sass/3.sass */
.subpane4 {
  background-image: url("../images/3/sciencey-thing.JPG");
}
