/* line 13, ../sass/mein.sass */
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* line 18, ../sass/mein.sass */
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 24, ../sass/mein.sass */
.pane {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

/* line 32, ../sass/mein.sass */
canvas {
  position: absolute;
  top: 0px;
}

/* line 36, ../sass/mein.sass */
.text-box {
  position: absolute;
  top: 34%;
  width: 30%;
  left: 35%;
  margin-left: -20px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  z-index: 40;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}
/* line 50, ../sass/mein.sass */
.text-box p {
  margin: 0px;
  font-size: 20px;
  line-height: 30px;
}
/* line 55, ../sass/mein.sass */
.text-box .attn {
  color: #222222;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
  font-style: normal;
}

/* line 60, ../sass/mein.sass */
.text-box:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 63, ../sass/mein.sass */
.pane2 {
  top: 100%;
  background-position: right;
}

/* line 67, ../sass/mein.sass */
.pane3 {
  top: 200%;
  background-position: top left;
}

/* line 71, ../sass/mein.sass */
.pane4 {
  top: 300%;
  background-position: center;
}

/* line 75, ../sass/mein.sass */
.pane5 {
  top: 400%;
  background-position: top center;
}

/* line 79, ../sass/mein.sass */
.pane6 {
  top: 500%;
}

/* line 82, ../sass/mein.sass */
.invisipane {
  top: 500%;
}
/* line 85, ../sass/mein.sass */
.invisipane .text-box {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  top: 42%;
  margin-left: -20px;
}
/* line 92, ../sass/mein.sass */
.invisipane .text-box:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 95, ../sass/mein.sass */
.top-pane {
  width: 100%;
  height: 100%;
  top: 0px;
  overflow-x: hidden;
}

/* line 102, ../sass/mein.sass */
.t-pane {
  width: 300%;
  left: -100%;
}
/* line 106, ../sass/mein.sass */
.t-pane .pane {
  width: 33.33333%;
  display: inline;
}
/* line 110, ../sass/mein.sass */
.t-pane .pane1 {
  right: 33.33333%;
  background-position: center;
}
/* line 114, ../sass/mein.sass */
.t-pane #pane1-canvas {
  top: 0px;
}
/* line 117, ../sass/mein.sass */
.t-pane .pane-l {
  left: 0%;
}
/* line 120, ../sass/mein.sass */
.t-pane .pane-l .subpane {
  height: 100%;
}
/* line 123, ../sass/mein.sass */
.t-pane .pane-l .text-box {
  width: 30%;
}
/* line 126, ../sass/mein.sass */
.t-pane .l-sub-l {
  top: 0px;
  left: 0%;
  background-position: top center;
}
/* line 131, ../sass/mein.sass */
.t-pane .l-text-l {
  top: 80%;
  left: 10%;
}
/* line 135, ../sass/mein.sass */
.t-pane .l-sub-r {
  top: 0px;
  left: 50%;
  background-position: center;
}
/* line 140, ../sass/mein.sass */
.t-pane .l-text-r {
  top: 60%;
  left: 60%;
}
/* line 144, ../sass/mein.sass */
.t-pane .pane-r {
  right: 0%;
}
/* line 147, ../sass/mein.sass */
.t-pane .pane-r .subpane {
  width: 100%;
  height: 33.33333%;
  background-position: center;
}
/* line 152, ../sass/mein.sass */
.t-pane .pane-r .text-box {
  position: absolute;
  width: 30%;
}
/* line 157, ../sass/mein.sass */
.t-pane .r-sub-t {
  top: 0px;
  right: 0px;
}
/* line 161, ../sass/mein.sass */
.t-pane .r-text-t {
  top: 16.66667%;
}
/* line 164, ../sass/mein.sass */
.t-pane .r-sub-m {
  top: 33.33333%;
  right: 0px;
}
/* line 168, ../sass/mein.sass */
.t-pane .r-text-m {
  top: 50%;
}
/* line 171, ../sass/mein.sass */
.t-pane .r-sub-b {
  top: 66.66667%;
  right: 0px;
}
/* line 175, ../sass/mein.sass */
.t-pane .r-text-b {
  top: 83.33333%;
}

/* line 179, ../sass/mein.sass */
.school, .resource {
  text-align: center;
  font-family: "Georgia";
  font-size: 60px;
  line-height: 70px;
  color: #222222;
}

/* line 186, ../sass/mein.sass */
.subpane {
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 193, ../sass/mein.sass */
.subpane1 {
  top: 0px;
  left: 50%;
  background-position: center center;
}

/* line 198, ../sass/mein.sass */
.subpane2 {
  top: 0px;
  left: 0px;
}

/* line 202, ../sass/mein.sass */
.subpane3 {
  top: 50%;
  left: 0px;
  background-position: center center;
}

/* line 207, ../sass/mein.sass */
.subpane4 {
  top: 50%;
  left: 50%;
  background-position: center center;
}

/* line 212, ../sass/mein.sass */
.search {
  text-align: center;
  line-height: 50px;
}

/* line 216, ../sass/mein.sass */
.search-form {
  width: 90%;
  margin: auto;
}
/* line 220, ../sass/mein.sass */
.search-form input {
  width: 90%;
  margin: 20px 3%;
  font-size: 22px;
  height: 30px;
  line-height: 30px;
}

/* line 227, ../sass/mein.sass */
.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 90px;
  z-index: 50;
  padding: 10px 10px 20px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* line 237, ../sass/mein.sass */
.nav-small {
  -moz-border-radius-topright: 70px;
  -webkit-border-top-right-radius: 70px;
  border-top-right-radius: 70px;
  -moz-border-radius-bottomright: 70px;
  -webkit-border-bottom-right-radius: 70px;
  border-bottom-right-radius: 70px;
  height: 90px;
}

/* line 241, ../sass/mein.sass */
.logo {
  margin-top: 12px;
}

/* line 244, ../sass/mein.sass */
.navlist {
  position: relative;
  display: inline;
  width: 100%;
  color: white;
  font-family: "Georgia";
  font-size: 18px;
}
/* line 252, ../sass/mein.sass */
.navlist li {
  float: left;
  display: inline-block;
  width: 16.66667%;
  line-height: 30px;
}
/* line 258, ../sass/mein.sass */
.navlist .mid {
  width: 50%;
  height: 90px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}
/* line 263, ../sass/mein.sass */
.navlist .mid li {
  width: 100%;
}
/* line 266, ../sass/mein.sass */
.navlist .nav-img {
  position: absolute;
  top: -12px;
  right: 6%;
  opacity: 0.8;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 278, ../sass/mein.sass */
.navlist .nav-img:hover {
  opacity: 1;
}

/* line 283, ../sass/mein.sass */
.nav-search input {
  line-height: 30px;
}

/* line 287, ../sass/mein.sass */
.slide {
  position: absolute;
  color: white;
  width: 80px;
  height: 80px;
  z-index: 40;
  font-family: "Georgia";
}
/* line 295, ../sass/mein.sass */
.slide h1 {
  margin-top: 24px;
  margin-left: 22px;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
}

/* line 301, ../sass/mein.sass */
.slide-left {
  left: 20px;
}

/* line 304, ../sass/mein.sass */
.slide-right {
  right: 20px;
}

@media all and (max-width: 1500px) {
  /* line 309, ../sass/mein.sass */
  .topnav {
    height: 200px;
  }

  /* line 312, ../sass/mein.sass */
  .nav-small {
    height: 90px;
  }
  /* line 316, ../sass/mein.sass */
  .nav-small .navlist .nav-img {
    right: 6%;
  }

  /* line 320, ../sass/mein.sass */
  .navlist li {
    width: 26%;
  }
  /* line 322, ../sass/mein.sass */
  .navlist .mid {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
  }
  /* line 328, ../sass/mein.sass */
  .navlist .nav-search-li {
    position: absolute;
    left: 33%;
    margin-left: 20px;
  }
  /* line 333, ../sass/mein.sass */
  .navlist .nav-img {
    position: absolute;
    right: 21%;
  }

  /* line 337, ../sass/mein.sass */
  .school, .resource {
    font-size: 40px;
    line-height: 46px;
  }

  /* line 341, ../sass/mein.sass */
  .text-box {
    top: 30%;
    width: 40%;
    left: 30%;
  }

  /* line 347, ../sass/mein.sass */
  .invisipane .text-box {
    top: 34%;
  }

  /* line 352, ../sass/mein.sass */
  .t-pane .pane-r .text-box {
    left: 35%;
  }
  /* line 355, ../sass/mein.sass */
  .t-pane .l-text-r {
    top: 60%;
    left: 60%;
  }
  /* line 359, ../sass/mein.sass */
  .t-pane .l-text-l {
    top: 75%;
    margin-left: -20px;
    left: 10%;
  }
  /* line 364, ../sass/mein.sass */
  .t-pane .r-text-t {
    top: 11.11111%;
  }
  /* line 367, ../sass/mein.sass */
  .t-pane .r-text-m {
    top: 44.44444%;
  }
  /* line 370, ../sass/mein.sass */
  .t-pane .r-text-b {
    top: 77.77778%;
  }
}
@media all and (max-width: 1000px) {
  /* line 374, ../sass/mein.sass */
  .text-box {
    top: 25%;
    width: 50%;
    left: 25%;
  }

  /* line 379, ../sass/mein.sass */
  .school {
    font-size: 32px;
    line-height: 38px;
  }

  /* line 384, ../sass/mein.sass */
  .t-pane .l-text-r {
    top: 53.33333%;
    left: 60%;
  }
  /* line 388, ../sass/mein.sass */
  .t-pane .l-text-l {
    top: 70%;
    margin-left: -20px;
    left: 10%;
  }
}
@media all and (max-width: 600px) {
  /* line 396, ../sass/mein.sass */
  .t-pane .l-text-r {
    top: 60%;
    left: 60%;
  }

  /* line 401, ../sass/mein.sass */
  .invisipane .text-box {
    top: 30%;
  }
}
