/* line 10, ../sass/mein.sass */
body {
  margin: 0px;
  overflow-x: hidden;
}

/* line 14, ../sass/mein.sass */
.pane {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 1257px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 21, ../sass/mein.sass */
.text-box {
  width: 40%;
  min-width: 300px;
  max-width: 600px;
  margin: 419px auto auto auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 30, ../sass/mein.sass */
.text-box p {
  margin: 0px;
  font-size: 20px;
  line-height: 30px;
}

/* line 35, ../sass/mein.sass */
.pane2 {
  top: 1257px;
  background-image: url("../images/finney.JPG");
}

/* line 39, ../sass/mein.sass */
.pane3 {
  top: 2514px;
  background-image: url("../images/lion-dance.JPG");
}

/* line 43, ../sass/mein.sass */
.pane4 {
  top: 3771px;
  background-image: url("../images/sciency-thing-2.jpg");
}

/* line 47, ../sass/mein.sass */
.pane5 {
  top: 5028px;
  background-image: url("../images/green.jpg");
}

/* line 51, ../sass/mein.sass */
.pane6 {
  top: 6285px;
}

/* line 54, ../sass/mein.sass */
.invisipane {
  top: 6285px;
}
/* line 57, ../sass/mein.sass */
.invisipane .text-box {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 60, ../sass/mein.sass */
.t-pane {
  width: 300%;
  left: -100%;
}
/* line 64, ../sass/mein.sass */
.t-pane .pane {
  width: 33.33333%;
  display: inline;
}
/* line 68, ../sass/mein.sass */
.t-pane .pane1 {
  right: 33.33333%;
  background-image: url("../images/studs.jpg");
}
/* line 72, ../sass/mein.sass */
.t-pane .pane-l {
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 76, ../sass/mein.sass */
.t-pane .pane-r {
  right: 0%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 80, ../sass/mein.sass */
.subpane {
  position: absolute;
  width: 50%;
  height: 628.5px;
  margin: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 87, ../sass/mein.sass */
.subpane1 {
  top: 0px;
  left: 50%;
  background-image: url("../images/bike-co-op.jpg");
}

/* line 92, ../sass/mein.sass */
.subpane2 {
  top: 0px;
  left: 0px;
  background-image: url("../images/selk.JPG");
}

/* line 97, ../sass/mein.sass */
.subpane3 {
  top: 628.5px;
  left: 0px;
  background-image: url("../images/dance.jpg");
}

/* line 102, ../sass/mein.sass */
.subpane4 {
  top: 628.5px;
  left: 50%;
  background-image: url("../images/sciencey-thing.JPG");
}

/* line 107, ../sass/mein.sass */
.search {
  text-align: center;
}

/* line 110, ../sass/mein.sass */
.search-form {
  width: 90%;
  margin: auto;
}
/* line 114, ../sass/mein.sass */
.search-form input {
  width: 90%;
  margin: 20px 3%;
  font-size: 22px;
  height: 30px;
  line-height: 30px;
}

/* line 121, ../sass/mein.sass */
.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  padding: 10px 10px 20px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* line 130, ../sass/mein.sass */
.nav-small {
  -moz-border-radius-topright: 70px;
  -webkit-border-top-right-radius: 70px;
  border-top-right-radius: 70px;
  -moz-border-radius-bottomright: 70px;
  -webkit-border-bottom-right-radius: 70px;
  border-bottom-right-radius: 70px;
}
/* line 135, ../sass/mein.sass */
.nav-small .navlist .nav-img {
  margin-right: 30px;
}

/* line 138, ../sass/mein.sass */
.logo {
  margin-top: 20px;
}

/* line 141, ../sass/mein.sass */
.navlist {
  position: relative;
  display: inline;
  width: 100%;
  color: white;
  font-family: "Georgia";
  font-size: 18px;
}
/* line 149, ../sass/mein.sass */
.navlist li {
  float: left;
  display: inline-block;
  width: 16.66667%;
  line-height: 30px;
}
/* line 155, ../sass/mein.sass */
.navlist .mid {
  display: inline-block;
  width: 66.66667%;
}
/* line 158, ../sass/mein.sass */
.navlist .mid ul {
  width: 100%;
  height: 90px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}
/* line 163, ../sass/mein.sass */
.navlist .mid ul li {
  width: 100%;
}
/* line 166, ../sass/mein.sass */
.navlist .nav-img {
  margin-right: 50px;
  float: right;
}

/* line 172, ../sass/mein.sass */
.nav-search input {
  line-height: 30px;
}

/* line 176, ../sass/mein.sass */
.slide {
  position: absolute;
  top: 628.5px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
/* line 184, ../sass/mein.sass */
.slide h2 {
  margin-top: 16px;
  margin-left: 22px;
}

/* line 188, ../sass/mein.sass */
.slide-left {
  left: 20px;
}

/* line 191, ../sass/mein.sass */
.slide-right {
  right: 20px;
}
