/* line 12, ../sass/mein.sass */
html {
  width: 100%;
  overflow-x: hidden;
}

/* line 16, ../sass/mein.sass */
body {
  margin: 0px;
  width: 900px;
  overflow-x: hidden;
}

/* line 21, ../sass/mein.sass */
.pane {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 1257px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

/* line 29, ../sass/mein.sass */
canvas {
  position: absolute;
  top: 0px;
}

/* line 33, ../sass/mein.sass */
.text-box {
  position: absolute;
  top: 34%;
  width: 30%;
  left: 35%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  z-index: 40;
}
/* line 43, ../sass/mein.sass */
.text-box p {
  margin: 0px;
  font-size: 20px;
  line-height: 30px;
}

/* line 48, ../sass/mein.sass */
.pane2 {
  top: 1257px;
  background-image: url("../images/finney.JPG");
}

/* line 52, ../sass/mein.sass */
.pane3 {
  top: 2514px;
  background-image: url("../images/lion-dance.JPG");
}

/* line 56, ../sass/mein.sass */
.pane4 {
  top: 3771px;
  background-image: url("../images/sciency-thing-2.jpg");
}

/* line 60, ../sass/mein.sass */
.pane5 {
  top: 5028px;
  background-image: url("../images/green.jpg");
}

/* line 64, ../sass/mein.sass */
.pane6 {
  top: 6285px;
}

/* line 67, ../sass/mein.sass */
.invisipane {
  top: 6285px;
}
/* line 70, ../sass/mein.sass */
.invisipane .text-box {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  top: 42%;
}
/* line 76, ../sass/mein.sass */
.invisipane .text-box:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 79, ../sass/mein.sass */
.t-pane {
  width: 300%;
  left: -100%;
}
/* line 83, ../sass/mein.sass */
.t-pane .pane {
  width: 33.33333%;
  display: inline;
}
/* line 87, ../sass/mein.sass */
.t-pane .pane1 {
  right: 33.33333%;
  background-image: url("../images/studs.jpg");
}
/* line 91, ../sass/mein.sass */
.t-pane #pane1-canvas {
  top: 0px;
}
/* line 94, ../sass/mein.sass */
.t-pane .pane-l {
  left: 0%;
}
/* line 97, ../sass/mein.sass */
.t-pane .pane-l .subpane {
  height: 1257px;
}
/* line 100, ../sass/mein.sass */
.t-pane .pane-l .text-box {
  width: 60%;
}
/* line 103, ../sass/mein.sass */
.t-pane .l-sub-l {
  top: 0px;
  left: 0%;
  background-image: url("../images/sciencey-thing-3.jpg");
}
/* line 108, ../sass/mein.sass */
.t-pane .l-sub-l .text-box {
  margin-top: 1005.6px;
}
/* line 111, ../sass/mein.sass */
.t-pane .l-sub-r {
  top: 0px;
  left: 50%;
  background-image: url("../images/ensemble.jpg");
}
/* line 116, ../sass/mein.sass */
.t-pane .l-sub-r .text-box {
  margin-top: 502.8px;
}
/* line 119, ../sass/mein.sass */
.t-pane .pane-r {
  right: 0%;
}
/* line 122, ../sass/mein.sass */
.t-pane .pane-r .subpane {
  width: 100%;
  height: 419px;
}
/* line 126, ../sass/mein.sass */
.t-pane .pane-r .text-box {
  width: 20%;
  top: 209.5px;
}
/* line 131, ../sass/mein.sass */
.t-pane .r-sub-t {
  top: 0px;
  right: 0px;
  background-image: url("../images/speak.jpg");
  background-position: 80% 25%;
}
/* line 141, ../sass/mein.sass */
.t-pane .r-sub-m {
  top: 419px;
  right: 0px;
  background-image: url("../images/camera.JPG");
  background-position: 20% 30%;
}
/* line 150, ../sass/mein.sass */
.t-pane .r-sub-b {
  top: 838px;
  right: 0px;
  background-image: url("../images/art.jpg");
  background-position: 20% 30%;
}

/* line 159, ../sass/mein.sass */
.school, .resource {
  text-align: center;
  font-family: "Georgia";
  font-size: 60px;
  line-height: 70px;
  color: #222222;
}

/* line 166, ../sass/mein.sass */
.subpane {
  position: absolute;
  width: 50%;
  height: 628.5px;
  margin: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 173, ../sass/mein.sass */
.subpane1 {
  top: 0px;
  left: 50%;
  background-image: url("../images/bike-co-op.jpg");
}

/* line 178, ../sass/mein.sass */
.subpane2 {
  top: 0px;
  left: 0px;
  background-image: url("../images/selk.JPG");
}

/* line 183, ../sass/mein.sass */
.subpane3 {
  top: 628.5px;
  left: 0px;
  background-image: url("../images/dance.jpg");
}

/* line 188, ../sass/mein.sass */
.subpane4 {
  top: 628.5px;
  left: 50%;
  background-image: url("../images/sciencey-thing.JPG");
}

/* line 193, ../sass/mein.sass */
.search {
  text-align: center;
}

/* line 196, ../sass/mein.sass */
.search-form {
  width: 90%;
  margin: auto;
}
/* line 200, ../sass/mein.sass */
.search-form input {
  width: 90%;
  margin: 20px 3%;
  font-size: 22px;
  height: 30px;
  line-height: 30px;
}

/* line 207, ../sass/mein.sass */
.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  padding: 10px 10px 20px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* line 216, ../sass/mein.sass */
.nav-small {
  -moz-border-radius-topright: 70px;
  -webkit-border-top-right-radius: 70px;
  border-top-right-radius: 70px;
  -moz-border-radius-bottomright: 70px;
  -webkit-border-bottom-right-radius: 70px;
  border-bottom-right-radius: 70px;
}
/* line 221, ../sass/mein.sass */
.nav-small .navlist .nav-img {
  margin-right: 30px;
}

/* line 224, ../sass/mein.sass */
.logo {
  margin-top: 20px;
}

/* line 227, ../sass/mein.sass */
.navlist {
  position: relative;
  display: inline;
  width: 100%;
  color: white;
  font-family: "Georgia";
  font-size: 18px;
}
/* line 235, ../sass/mein.sass */
.navlist li {
  float: left;
  display: inline-block;
  width: 16.66667%;
  line-height: 30px;
}
/* line 241, ../sass/mein.sass */
.navlist .mid {
  display: inline-block;
  width: 66.66667%;
}
/* line 244, ../sass/mein.sass */
.navlist .mid ul {
  width: 100%;
  height: 90px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}
/* line 249, ../sass/mein.sass */
.navlist .mid ul li {
  width: 100%;
}
/* line 252, ../sass/mein.sass */
.navlist .nav-img {
  margin-right: 50px;
  float: right;
  opacity: 0.9;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 260, ../sass/mein.sass */
.navlist .nav-img:hover {
  opacity: 1;
}

/* line 265, ../sass/mein.sass */
.nav-search input {
  line-height: 30px;
}

/* line 269, ../sass/mein.sass */
.slide {
  position: absolute;
  top: 38%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  z-index: 40;
}
/* line 278, ../sass/mein.sass */
.slide h2 {
  margin-top: 16px;
  margin-left: 22px;
}

/* line 282, ../sass/mein.sass */
.slide-left {
  left: 20px;
}

/* line 285, ../sass/mein.sass */
.slide-right {
  right: 20px;
}
